@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --lime: #dae83e;
  --lime-light: #d4e84d;
  --red: #e54b4b;
  --white: #ffffff;
  --slate-100: #ebf4fa;
  --slate-300: #aac4d9;
  --slate-500: #447291;
  --slate-700: #315062;
  --slate-900: #1e2c42;
  --slate-950: #141e2b;
}

body {
  font-family: "Arial", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #adfff6;
}

p,
label {
  font-size: 1rem;
  line-height: 1.75rem;
  color: var(--slate-700);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .container {
  --rad: 0;
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--white);
  border-top-left-radius: var(--rad);
  border-bottom-left-radius: var(--rad);
}

.form_container {
  padding: 1.5rem;
}

.header_group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 640px) {
  .header_group {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 768px) {
  main {
    padding: 0 1rem;
  }

  main .container {
    --rad: 1rem;
    grid-template-columns: repeat(2, minmax(0, 31.5rem));
    border-radius: var(--rad);
  }

  .form_container {
    padding: 2.625rem;
  }
}

main .container .limpiar {
  background: none;
  border: none;
  margin: 0;
  font-size: 1rem;
}

main .container form {
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
}

@media screen and (min-width: 768px) {
  main .container form {
    gap: 1rem;
  }
}

input[type="text"],
input[type="number"] {
  width: 100%;
  outline: transparent;
  border: 2px solid var(--slate-300);
}

input[type="radio"] {
  accent-color: var(--lime);
}

label.radio {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  border: 1px solid var(--slate-300);
  border-radius: 0.5rem;
  padding: 0.55rem 1rem;
  cursor: pointer;
  color: var(--slate-900);
  font-weight: 700;
}

label.radio:has(input[type="radio"]:checked) {
  background-color: hsl(60deg 71.43% 93.14%);
  color: var(--slate-900);
  border: 1px solid var(--lime);
}

main .container form input {
  --rad: 0.5rem;
  padding: 0.75rem 1rem;
  border-radius: var(--rad);
  font-size: 1.125rem;
  font-weight: 700;
}

main .container form input:focus-visible {
  border-color: var(--lime);
}

main .container form .icon_container {
  position: relative;
}

main .container form #amount {
  padding-left: 3.5rem;
}

main .container form .form_group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: all 0.3s ease;
}

.results_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--slate-900);
}

@media screen and (min-width: 768px) {
  .results_container {
    padding: 2.625rem;
    border-top-right-radius: var(--rad);
    border-bottom-right-radius: var(--rad);
    border-bottom-left-radius: 6rem;
  }
}

.results_guide {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.guide-image {
  margin-bottom: 1rem;
}

.results_guide h2,
.results_complete h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--white);
}

.results_guide p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--slate-500);
}

.results_complete {
  display: flex;
  flex-direction: column;
  height: 100%;
  display: none;
}

.results_complete h2 {
  font-size: 1.5rem;
  color: var(--white);
  margin-bottom: 1rem;
}

.results_complete hr {
  width: 100%;
  border: 1px solid var(--slate-900);
  margin: 1.5rem 0;
}

.complete-total {
  background-color: var(--slate-950);
  padding: 1.5rem;
  border-radius: 0.5rem;
  border-top: 4px solid var(--lime);
  margin-top: 1.5rem;
}

.complete-monthly {
  font-size: 2rem;
  color: var(--lime);
  margin-top: 0.5rem;
}

.complete-full {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--white);
  margin-top: 0.5rem;
}

.form_group.error input {
  border-color: var(--red);
}

.form_group .error {
  color: var(--red);
  font-size: 0.875rem;
}

main .container form .input_group {
  display: grid;
  grid-template-columns: 1fr;
}

main form button {
  margin-top: 0.875rem;
  padding: 0.875rem 2.625rem;
  background-color: var(--lime);
  color: var(--slate-900);
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 100vw;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

@media screen and (min-width: 640px) {
  main .container form .input_group {
    grid-template-columns: 1fr 1fr;
    gap: 1.375rem;
  }
}

@media screen and (min-width: 768px) {
  main form button {
    width: fit-content;
  }
}
